# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# macOS / Windows
.DS_Store
Thumbs.db
